body {
  margin: 0;
  padding: 0;
	min-width: 1200px;

  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #283136;
	
	background-color: #ffffff;
}

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(0, 0, 0, 0);
}

a {
	text-decoration: none;
}

.container {
  width: 1200px;
	box-sizing: border-box;
  margin: 0 auto;
  padding: 0 20px;
}

.btn {
	display: block;
  width: 240px;
  padding: 13px 0;
  
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  
  background-color: #fb565a;
  border-radius: 3px;
  border: none;
}

.btn:hover {
	background-color: #e74246;
}
.btn:active{
	color:rgba(255,255,255,0.3);
	
	background-color: #d7373b;
	box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
}

.btn-green {
	background-color: #00ca74;
}

.btn-green:hover {
	background-color: #00bc6c;
}

.btn-green:active {
	background-color: #00aa62;
}

.btn-yellow {
	background-color: #efc84a;
}

.btn-yellow:hover {
	background-color: #eab534;
}

.btn-yellow:active {
	background-color: #e5a722;
}

.main-header {
	box-sizing: border-box;
	padding-top: 50px;
	background-color: #eeeeee;
}

.main-navigation {
	width: 1160px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-bottom: 18px;
}

.header-logo {
	width: 160px;
	height: 65px;
}

.header-navigation,
.header-cart {
	list-style: none;
	padding: 0;
	margin: 0;
}


.header-navigation {
	width:440px;
	padding: 0;
	margin-top: 26px;
	/*margin-right: 240px;*/
	
	display: flex;
	justify-content: space-between;
}

.header-cart {
	width:80px;
	margin-top: 26px;
	position: relative;
	padding-left: 35px;
}

.header-cart::before {
	content: "";
	
	position: absolute;
	top:7px;
	left:0px;
	
  width: 15px;
  height: 15px;

  background-image: url(../img/cart-icon.svg);
  background-repeat: no-repeat;
}

.header-navigation a,
.header-cart a {
	color:#000000;
	text-transform: uppercase;
	line-height: 30px;
	font-weight: 500;
	
}

.header-navigation a:hover,
.header-cart a:hover {
	color: #fb565a;
} 

.header-navigation a:active,
.header-cart a:active {
	color: rgba(0,0,0,0.3);
}

.header-navigation-point {
	border-bottom: 2px solid #fb565a;
	color:#000000;
} 

.slider {
	position:relative;

	background-color: #eeeeee;
}

.slider-controls {
  position: absolute;
  left: 50%;
  bottom: 104px;
  z-index: 100;
  
  width: 160px;
  height: 18px;

  text-align: center;
  font-size: 0;
  transform: translateX(-50%);
}


.slider-controls label {
  position: relative;
  
  display: inline-block;
  width: 18px;
  height: 18px;
  padding: 8px;
  
  border-radius: 50%;
  cursor: pointer;
}

.slider-controls label::after {
  content: "";
  
  position: absolute;
  top: 8px;
  left: 8px;
  z-index: 1;
  
  width: 18px;
  height: 18px;
  
  background: #ffffff;
  
  border-radius: 50%;
}


.slider-list {
  margin: 0;
  padding: 0;
  
  list-style: none;
}

.slider-item {
  display: none;
  padding: 78px 0 80px 0;
}

.slider-item:nth-child(1) {
  background-image: url(../img/slide1.png);
  background-repeat: no-repeat;
  background-position: 93% 18px
}

.slider-item:nth-child(2) {
  background-image: url(../img/slide2.png);
  background-repeat: no-repeat;
  background-position: 100% 0;
}

.slider-item:nth-child(3) {
  background-image: url(../img/slide3.png);
  background-repeat: no-repeat;
  background-position: 100% 20px;
}

#product-1:checked ~ .slider-list .slider-item:nth-child(1) {
  display: block;
}

#product-2:checked ~ .slider-list .slider-item:nth-child(2) {
  display: block;
}

#product-3:checked ~ .slider-list .slider-item:nth-child(3) {
  display: block;
}

#product-1:checked ~ .slider-controls .slider-controls-item--1::before,
#product-2:checked ~ .slider-controls .slider-controls-item--2::before,
#product-3:checked ~ .slider-controls .slider-controls-item--3::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 2;
  width: 4px;
  height: 4px;
  margin: -4px;
  background-color: inherit;
  border: 2px solid #c1c1c1;
  border-radius: 50%;
}

.main-title{
	font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  color: #000000;
}

.slider h3 {
	max-width: 600px;
  margin: 0;
  margin-bottom:27px;
	
	font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  color: #000000;
}

.slider-item p {
  max-width: 430px;
  margin: 0;
  margin-bottom: 38px;
}

.services {
	padding:80px 0;
	
	border-bottom: 2px solid #eeeeee;
}

.services h3 {
	font-weight: 700;
	font-size: 24px;
	line-height: 30px;
	text-transform: uppercase;
	color:#000000;
}

.services-list {
	display: flex;
	justify-content: space-between;
	padding:0;
	margin: 0;
	
	list-style: none;
}

.services-item {
	width: 300px;
	
	padding-right: 100px;
}

.column {
	display:flex;
	padding-top:40px;
	padding-bottom: 75px;
	
	border-bottom: 2px solid #eeeeee;
}

.column1 {
	width:700px;
}

.column-wraper {
	padding-bottom: 50px;

}

.column-wraper .title {
	display: block;
	
	font-weight: 500;
	font-size: 45px;
	line-height: 45px;
	color:#000000;
	
	padding-bottom: 36px;
}

.column-wraper p {
	padding: 0;
	margin: 0;
}

.column2 {
	width: 400px;
}

.orders-item {
	margin-top: 36px;
}

.orders,
.advantages caption{
	font-weight: 700;
	text-transform: uppercase;
	color:#000000;
}

.advantages th {
	font-size:45px;
	font-weight: 700;
	color:#000000;
	/*line-height: 10.06px;*/
}

.advantages td {
	line-height: 18px;
}

.templates {
	padding:45px 0;
	
	border-bottom: 2px solid #eeeeee;
}

.templates-list {
	display: flex;
	justify-content: space-around;
	padding: 0;
	margin: 0;
	list-style: none;
}

.templates-logo {
	opacity:0.2;
}

.templates-logo:hover {
	opacity: 1;
}

.templates-logo:active {
	opacity: 0.1;
}

.main-footer .container {
	padding:70px 0;
}

.footer-map {
	position: relative;
}

.footer-contacts {
	position: absolute;
	top:55px;
	left: 140px;;
	width: 319px;
	box-sizing: border-box;
	margin: 0;
	padding: 55px 50px 47px 50px;
	
	background-color: #ffffff;
}

.footer-contacts p {
	margin: 0;
	padding-bottom: 22px;
	line-height: 18px;
	color: #666666;
}

.footer-contacts .title {
	margin: 0;
	padding-bottom: 35px;
	font-weight: 700;
	font-size: 18px;
	line-height: 30px;
	color:#000000;
}

.contacts-btn {
	margin-top: 35px;
}

.footer-social {
	display: flex;
	
}

.footer-title {
	width:560px;
	order: 2;
}

.footer-title b {
	font-weight: 700;
	font-size: 36px;
	line-height: 36px;
	color:#000000;
}

.footer-title p {
	line-height: 22px;
}

.social-list {
	width: 260px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	
	padding: 0;
	padding-right: 140px;
	margin: 0;
	list-style: none;
}

.social-list a {
	color:#000000;
}


.write-us h2 {
	font-weight: 500;
	font-size: 45px;
	line-height: 45px;
	color:#000000;
}

.write-us label {
	font-weight: 700;
	line-height: 18px;
	color:#000000;
}

.write-form input[type="text"],
.write-form input[type="email"],
.write-form textarea{
	font: inherit;
	line-height: 18px;
	color:rgba(68,68,68,0.5);
	
	border:2px solid #d7dcde;
}

.write-form input[type="text"]:hover,
.write-form input[type="email"]:hover,
.write-form textarea:hover{
	border:2px solid #b4b9bb;
}

.write-form input[type="text"]:focus,
.write-form input[type="email"]:focus,
.write-form textarea:focus{
	color:#444444;
	
	border:2px solid #000000;
	outline: none;
}

.write-form input[type="text"]:invalid,
.write-form input[type="email"]:invalid,
.write-form textarea:invalid{
	color:#e74246;
	
	border:2px solid #e74246;
}

::placeholder{
	color:rgba(68,68,68,0.5);
}

:focus::placeholder {
	color:#444444;
}

:invalid::placeholder {
	color:#e74246;
}

::-ms-input-placeholder{
	color:rgba(68,68,68,0.5);
}

:focus::-ms-input-placeholder{
	color:#444444;
}

:invalid::-ms-input-placeholder {
	color:#e74246;
}

:-ms-input-placeholder{
	color:rgba(68,68,68,0.5);
}

:focus:-ms-input-placeholder {
	color:#444444;
}

:invalid:-ms-input-placeholder {
	color:#e74246;
}

.main-title {
	padding: 0;
	margin: 0;
	padding-bottom: 115px;
	padding-top: 65px;
	
	text-align: center;
}

.filtres {
	width: 260px;
	margin-right: 140px;
}

.filtres fieldset {
  border: none;
}

.filtres legend {
	font-weight: 700;
	font-size: 18px;
	line-height: 30px;
	color:#000000;
	text-transform: uppercase;
}

.filtres ul {
	padding: 0;
	list-style: none;
	line-height: 20px;
}

.filtres-input:hover + label,
.filtres-input:focus + label{
	color:#000000;
}

.filtres-input:disabled + label {
	opacity: 0.3;
}

.btn-filtres{
	color:#000000;
	
	background-color: #eeeeee;
}

.btn-filtres:hover{
	background-color: #dfdfdf;
}

.btn-filtres:active{
	color:rgba(255,255,255,0.3);
	
	background-color: #d5d5d5;
	/*декор эффект тени*/
}

.sort {
	width:760px;
	box-sizing: border-box;
	display: flex;
	
	padding-bottom: 60px;
}

.sort p {
	font-weight: 700;
	font-size: 18px;
	line-height: 18px;
	text-transform: uppercase;
	display: block;
	float: left;
}

.sort-list {
	width: 280px;
	display: flex;
	justify-content: space-between;
	padding: 0;
	
	list-style: none;
	font-size: 14px;
	line-height: 18px;
	text-transform: uppercase;
}

.sort-list a {
	color:rgba(0,0,0,0.3);
}

.sort-list a:hover {
	color:rgba(0,0,0,0.6);
}

.sort-list a:active,
.sort-list .active /*временно*/ {
	color:#000000;
}

.catalog {
	width: 760px;
	padding-bottom: 27px;
}

.catalog-title {
	text-transform: uppercase;
	color:#000000;
	line-height: 30px;
}

.catalog-item {
	width: 760px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	padding: 0;
	margin: 0;
	color:#666666;
	line-height: 18px;
	list-style: none;
}

.catalog-item li {
	width:360px;
	margin-bottom: 33px;
}

.catalog-item li:nth-child(2n-1){
	margin-right: 40px;
}

.pagination-list {
	list-style: none;
	padding: 0;
	margin: 0;
	padding-bottom: 60px;
}

.pagination-item a {
	color:#000000;
	
	background-color: #eeeeee;
}

.pagination-item a:hover {
	background-color: #dfdfdf;
}

.pagination-item a:active{
	color:rgba(255,255,255,0.3);
	
	background-color: #d5d5d5;
	/*декор эффект тени*/
}

.pagination-item-point a{
	border: 3px solid #dbdbdb;
	background-color: #ffffff;
}

.catalog-column {
	/*width: 1160px; у контейнера есть размеры
	box-sizing: border-box;*/
	display: flex;
}

.catalog-right-column {
	display: flex;
	flex-direction: column;
}