body {
  margin: 0;
  padding: 0;

  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #283136;
	
	background-color: #ffffff;
	/*background-color: rebeccapurple;*/
}

.hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

a {
	text-decoration: none;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.wraper-main {
	width:100%;
	
}

.btn {
	width: 160px;
	
	text-transform: uppercase;
	color:#ffffff;
	line-height: 18px;
  font-weight: 500;
	border:none;
	font:inherit;
	text-align: center;
	vertical-align: middle;
	
	background-color: #fb565a;
}

.btn:hover {
	background-color: #e74246;
}
.btn:focus{
	color:rgba(255,255,255,0.3);
	
	background-color: #d7373b;/*тень*/
}

.btn-green {
	background-color: #00ca74;
}

.btn-green:hover {
	background-color: #00bc6c;
}

.btn-green:focus {
	background-color: #00aa62;
}

.btn-yellow {
	background-color: #efc84a;
}

.btn-yellow:hover {
	background-color: #eab534;
}

.btn-yellow:focus {
	background-color: #e5a722;
}

.main-header {
	background-color: #eeeeee;
}

.main-navigation {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-bottom: 18px;
}

.header-navigation {
	width:440px;
	
	display: flex;
	justify-content: space-between;
}

.header-cart {
	width:160px;
}

.header-navigation,
.header-cart {
	list-style: none;
	padding: 0;
	margin: 0;
}

.header-navigation a,
.header-cart a {
	color:#000000;
	text-transform: uppercase;
	line-height: 30px;
	font-weight: 500;
	
}

.header-navigation a:hover,
.header-cart a:hover {
	color: #fb565a;
} 

.header-navigation a:focus,
.header-cart a:focus {
	color: rgba(0,0,0,0.3);
}

.header-navigation a:active,
.header-cart a:active,
.header-navigation-point /*временно*/{
	border-bottom: 2px solid #fb565a;
	color:#000000;
} 

.slider {
	
}

.slider ul {
	padding: 0;
	margin: 0;
	
	list-style: none;
}

.slider b,
.main-title{
	font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  color: #000000;
}

.services {
	padding:80px 0;
	
	border-bottom: 2px solid #eeeeee;
}

.services h3 {
	font-weight: 700;
	font-size: 24px;
	line-height: 30px;
	text-transform: uppercase;
	color:#000000;
}

.services-list {
	display: flex;
	justify-content: space-between;
	padding:0;
	margin: 0;
	
	list-style: none;
}

.services-item {
	width: 300px;
	
	padding-right: 100px;
}

.column {
	display:flex;
	padding-top:40px;
	padding-bottom: 75px;
	
	border-bottom: 2px solid #eeeeee;
}

.column1 {
	width:700px;
}

.column-wraper {
	padding-bottom: 50px;

}

.column-wraper .title {
	display: block;
	
	font-weight: 500;
	font-size: 45px;
	line-height: 45px;
	color:#000000;
	
	padding-bottom: 36px;
}

.column-wraper p {
	padding: 0;
	margin: 0;
}

.column2 {
	width: 400px;
}

.orders-item {
	margin-top: 36px;
}

.orders,
.advantages caption{
	font-weight: 700;
	text-transform: uppercase;
	color:#000000;
}

.advantages th {
	font-size:45px;
	font-weight: 700;
	color:#000000;
	/*line-height: 10.06px;*/
}

.advantages td {
	line-height: 18px;
}

.templates {
	padding:45px 0;
	
	border-bottom: 2px solid #eeeeee;
}

.templates-list {
	display: flex;
	justify-content: space-around;
	padding: 0;
	margin: 0;
	list-style: none;
}

.templates-logo {
	opacity:0.2;
}

.templates-logo:hover {
	opacity: 1;
}

.templates-logo:focus {
	opacity: 0.1;
}

.footer-contacts p {
	line-height: 18px;
	color: #666666;
}

.footer-contacts .title {
	font-weight: 700;
	font-size: 18px;
	line-height: 30px;
	color:#000000;
}

.footer-social {
	display: flex;
	
}

.footer-title {
	width:560px;
	order: 2;
}

.footer-title b {
	font-weight: 700;
	font-size: 36px;
	line-height: 36px;
	color:#000000;
}

.footer-title p {
	line-height: 22px;
}

.social-list {
	width: 260px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	
	padding: 0;
	padding-right: 140px;
	margin: 0;
	list-style: none;
}

.social-list a {
	color:#000000;
}


.write-us h2 {
	font-weight: 500;
	font-size: 45px;
	line-height: 45px;
	color:#000000;
}

.write-us label {
	font-weight: 700;
	line-height: 18px;
	color:#000000;
}

.write-form input[type="text"],
.write-form input[type="email"],
.write-form textarea{
	font: inherit;
	line-height: 18px;
	color:rgba(68,68,68,0.5);
	
	border:2px solid #d7dcde;
}

.write-form input[type="text"]:hover,
.write-form input[type="email"]:hover,
.write-form textarea:hover{
	border:2px solid #b4b9bb;
}

.write-form input[type="text"]:focus,
.write-form input[type="email"]:focus,
.write-form textarea:focus{
	color:#444444;
	
	border:2px solid #000000;
}

.write-form input[type="text"]:invalid,
.write-form input[type="email"]:invalid,
.write-form textarea:invalid{
	color:#e74246;
	
	border:2px solid #e74246;
}

::placeholder{
	color:rgba(68,68,68,0.5);
}

:focus::placeholder {
	color:#444444;
}

:invalid::placeholder {
	color:#e74246;
}

::-ms-input-placeholder{
	color:rgba(68,68,68,0.5);
}

:focus::-ms-input-placeholder{
	color:#444444;
}

:invalid::-ms-input-placeholder {
	color:#e74246;
}

:-ms-input-placeholder{
	color:rgba(68,68,68,0.5);
}

:focus:-ms-input-placeholder {
	color:#444444;
}

:invalid:-ms-input-placeholder {
	color:#e74246;
}

.main-title {
	padding: 0;
	margin: 0;
	padding-bottom: 115px;
	padding-top: 65px;
	
	text-align: center;
}

.filtres {
	width: 260px;
}

.filtres fieldset {
  border: none;
}

.filtres legend {
	font-weight: 700;
	font-size: 18px;
	line-height: 30px;
	color:#000000;
	text-transform: uppercase;
}

.filtres ul {
	list-style: none;
	line-height: 20px;
}

.filtres-input:hover + label,
.filtres-input:focus + label{
	color:#000000;
}

.filtres-input:disabled + label {
	opacity: 0.3;
}

.btn-filtres{
	color:#000000;
	
	background-color: #eeeeee;
}

.btn-filtres:hover{
	background-color: #dfdfdf;
}

.btn-filtres:focus{
	color:rgba(255,255,255,0.3);
	
	background-color: #d5d5d5;
	/*декор эффект тени*/
}

.sort {
	width:760px;
	
	padding-bottom: 60px;
}

.sort p {
	font-weight: 700;
	font-size: 18px;
	line-height: 18px;
	text-transform: uppercase;
}

.sort-item {
	list-style: none;
	font-size: 14px;
	line-height: 18px;
	text-transform: uppercase;
}

.sort-item a {
	color:rgba(0,0,0,0.3);
}

.sort-item a:hover {
	color:rgba(0,0,0,0.6);
}

.sort-item a:focus,
.sort-item a:active,
.sort-item .active /*временно*/ {
	color:#000000;
}

.catalog {
	width: 760px;
	padding-bottom: 60px;
}

.catalog-title {
	text-transform: uppercase;
	color:#000000;
	line-height: 30px;
}

.catalog ul {
	list-style: none;
}

.catalog-item {
	color:#666666;
	line-height: 18px;
}

.pagination-list {
	list-style: none;
	padding: 0;
	margin: 0;
	padding-bottom: 60px;
}

.pagination-item a {
	color:#000000;
	
	background-color: #eeeeee;
}

.pagination-item a:hover {
	background-color: #dfdfdf;
}

.pagination-item a:focus{
	color:rgba(255,255,255,0.3);
	
	background-color: #d5d5d5;
	/*декор эффект тени*/
}

.pagination-item a:active,
.pagination-item-point a{
	border: 3px solid #dbdbdb;
	background-color: #ffffff;
}

.catalog-column {
	display: flex;
}

.catalog-right-column {
	display: flex;
	flex-direction: column;
}